<!DOCTYPE html>
<html>
  <head>
    <title>Willow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Varela+Round&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.willowLogo = "<%= image_url('willow-logo.png') %>";
        window.buyHome = "<%= image_url('buy-home.webp') %>";
        window.rentHome = "<%= image_url('rent-home.webp') %>";
        window.sellHome = "<%= image_url('sell-home.webp') %>";
        window.searchIcon = "<%= image_url('search-icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
