<!DOCTYPE html>
<html>
  <head>
    <title>Willow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Varela+Round&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
        
        window.willowLogo = "<%= image_url('willow-logo.png') %>";
        window.buyHome = "<%= image_url('buy-home.webp') %>";
        window.rentHome = "<%= image_url('rent-home.webp') %>";
        window.sellHome = "<%= image_url('sell-home.webp') %>";
        window.searchIcon = "<%= image_url('search-icon.png') %>";
        window.saveIcon = "<%= image_url('save-icon.png') %>";
        window.saveIconFilled = "<%= image_url('save-icon-filled.png') %>";
        window.footerBanner = "<%= image_url('footer.png') %>";
        window.sellCTA = "<%= image_url('user-sell-home-small.png') %>";

        window.sellFormHouse = "<%= image_url('sell-form-house.png') %>";
        window.sellFormVolume = "<%= image_url('sell-form-volume.png') %>";
        window.sellFormCheck = "<%= image_url('sell-form-check.png') %>";

        window.githubIcon = "<%= image_url('github.png') %>";
        window.linkedinIcon = "<%= image_url('linkedin.png') %>";
        window.portfolioIcon = "<%= image_url('portfolio.png') %>";
        window.angellistIcon = "<%= image_url('angellist.png') %>";

        window.reactImg = "<%= image_url('react.png') %>";
        window.reduxImg = "<%= image_url('redux.png') %>";
        window.railsImg = "<%= image_url('rails.png') %>";
        window.psqlImg = "<%= image_url('psql.png') %>";
        window.htmlImg = "<%= image_url('html5.png') %>";
        window.cssImg = "<%= image_url('css3.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
